.banner-container {
    background: #f9f9f9 no-repeat bottom center;
    min-height: 450px;
    background-size: 100% auto;
    position: relative;
    background-blend-mode: Darken;
    padding: 80px 0;
}

.banner-contant {
    margin: 10px auto;
    max-width: 800px;
    width: 100%;
}

.banner-top {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner-top h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
}

.banner-top p {
    color: #757575;
    font-size: 20px;
    margin-bottom: 0;
}